<div class="container mb-5">
  <div class="row mt-5">
    <h5>Task: Imgage Grid Scroller</h5>
  </div>
  <div class="row mt-3 mb-3">
      <h6>Specifications</h6>
  </div>
  <div class="row mb-5">
      <ul>
          <li> The images need to be displayed as tiles in a grid. </li>
          <li> The width and height of the tiles are fixed, e.g. width:180px - height:250px .</li>
          <li> The number of columns depends on the width of the screen. </li>
          <li> The tiles need to have some spaces between them. </li>
          <li> The tile itself shows the image and the title. </li>
          <li> When hovering over the tile, it should show a tooltip with the description of the image. </li>
          <li> The grid should allow to scroll vertically to the bottom of the list in a fluid, smooth way. </li>
        </ul>
  </div>
  <div class="row mt-5 mb-5">
      <h5>Created by Martin Parovski</h5>
  </div>
</div>
